.App {
  text-align: center;
  margin: 40px
}

.Dropzone {
  background-color: rgb(233, 231, 231);
  margin-top: 10px;
  color: rgb(23, 26, 207);
  height: 100px
}

#uploadDesciption {
  align-content: center;
}